/* Configuração de cores por sessão */

/* Fundo padrão (laterais) */
body, html {
    background-color: #191919 !important;
}
.button.custom {  
    background-color: #ce8021; /* Cor do botão */
     border-radius: 10px;} 
.button.custom:hover, .button.custom:focus {
    background-color: #6d5031; /* Cor ao passar pelo botão*/
}

/* Introdução Carta Coalizão */
.bg-section-1 {
    background-color: #191919; } /* Cor de fundo */
    .bg-section-1 h1 { color: #46b98c; } /* Cor do título */
    .bg-section-1 h4 { color: #46b98c; } /* Cor do sub-título */
    .bg-section-1 p { color: #ededed; } /* Cor do texto */


/* Internet sob ataque*/
.bg-section-2 {
    background-color: #191919; } /* Cor de fundo */
    .bg-section-2 h1 { color: #46b98c; } /* Cor do título */
    .bg-section-2 h4 { color: #412579; } /* Cor do sub-título */
    .bg-section-2 p { color: #ededed; } /* Cor do texto */


/* Veja mais sobre os PLs */
.bg-section-3 {
    background-color: #191919; } /* Cor de fundo */
    .bg-section-3 h1, .bg-section-3 .fa { color: #46b98c;; } /* Cor do título */
    .bg-section-3 h4 { color: #696969; }  /* Cor sub-titulo */
    .bg-section-3 p { color: #ededed;; } /* Cor do texto */
    

/* Quem Somos */
.bg-section-4 {
    background-color: #191919; } /* Cor de fundo */
    .bg-section-4 h1, .bg-section-4 .fa { color: #46b98c;; } /* Cor do título */
    .bg-section-4 h6 { color: #ce8021; }
    .bg-section-4 p { color:  #ededed; } /* Cor do texto */


/* Siga a gente */
.bg-section-5 {
    background-color: #0f0f0f; } /* Cor de fundo */
    .bg-section-5 h1, .bg-section-5 .fa { color: #F7F7EB; } /* Cor do título */
    .bg-section-5 p { color: #999790; } /* Cor do texto */
    .bg-section-5 a { color: #ce8021; } /* Cor dos links */


/* Contatos*/
.bg-section-6 {
    background-color: #01abaa; } /* Cor de fundo */
    .bg-section-6 h1, .bg-section-6 .fa { color: #F7F7EB; } /* Cor do título */
    .bg-section-6 h4 { color: #ededed; }
    .bg-section-6 p { color: #000000; } /* Cor do texto */

/*
.bg-cinza {
    background-color: #f4f4f4; }
    .bg-cinza h1 { color: #46b98c; }
*/
