@font-face {
    font-family: 'novecento_sans_wide_bookbold';
    src: url('../fonts/synthview-novecento_sans_wide_bold-webfont.woff2') format('woff2'),
         url('../fonts/synthview-novecento_sans_wide_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widebook';
    src: url('../fonts/synthview-novecento_sans_wide_book-webfont.woff2') format('woff2'),
         url('../fonts/synthview-novecento_sans_wide_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widedemibold';
    src: url('../fonts/synthview-novecento_sans_wide_demibold-webfont.woff2') format('woff2'),
         url('../fonts/synthview-novecento_sans_wide_demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.woff2') format('woff2'),
         url('../fonts/pts55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansitalic';
    src: url('../fonts/pts56f-webfont.woff2') format('woff2'),
         url('../fonts/pts56f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pts75f-webfont.woff2') format('woff2'),
         url('../fonts/pts75f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../fonts/pts76f-webfont.woff2') format('woff2'),
         url('../fonts/pts76f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
    font-family: 'pt_sansregular'; 
    font-size: 16px;
      
}

p {
    margin-left: 0px;
    
}

.destaques {
    max-height: 55rem;
}

.orbit-bullets {
    display:inline-block;
    text-align:center;
    float: center;
    width: 100%;
    position: absolute;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

.orbit-bullets button {width: 14px!important; height: 14px!important; 


}

.image-container {
    height: 100% !important;
    vertical-align: middle;
}

.the-click {
    position: absolute; left: 0px; right: 0px; width: 100%; height: 100%; z-index: 999; background-color: white; opacity: 0;
}

.orbit-image {
    vertical-align: middle;
    height: 100% ;
  
}

#codingrights-pls {
    position : absolute;
    top      : -550px;
    left    : 0;
    width    : 100%;
    height   : 1200px; 
}

.section-shadow {
    -webkit-box-shadow: 0px 6px 12px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 12px 3px rgba(0,0,0,0.75);
box-shadow: 0px 6px 12px 3px rgba(0,0,0,0.75);
}

.button {
    background-color: #46b98c; !important
}

.middle {
    margin-top: 120px;
    position: relative;
}


section { }
    h1 { font-size: 26px;
        font-family: 'pt_sansbold'; 
        margin-bottom: 20px; }
    h4 {  font-size: 18px;
        font-family: 'pt_sansbold'; }

    .s-embeded {width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative; } 
    


.logo-transparence {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    float: center;
    vertical-align: bottom;
    height: 180px;
    padding: 0px 4% 0px 4%;
}

.logo-circle {
    float: center;
    margin: 5px;
    font-size: 40px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #ededed;
    padding: 3px 10px 2px 10px;
}

.icon-now{  
    float: center;
    width: 30px;
    height: 30px;
}

.icon-now-small {
    position: relative;
    float: right;
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.midia-box {
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color:rgba(0, 0, 0, 0.5);
    
}



.icon-circle {  
    float: center;
    margin-left: 0px;
    margin-right: 10px;
    font-size: 40px;
    color: #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #ce8021;
    padding: 10px 15px 0px 15px;
}

@media only screen and (max-width: 40em) {
    .icon-circle {
        width: 30px;
        height: 30px;
        font-size: 30px;
      } 
}



.accordion-navigation {
    margin-bottom: -20px;
    border: 0px;
}

#panel11a {
    border: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.accordion-description {
    padding-top: 30px;
    
    color: #dedede !important;
}

:last-child:not(.is-active)>.accordion-title {
    border-bottom: 0px;
    color: #46b98c;
}

#expand  a, 
#expand  a:hover, 
#expand  a:visited, 
#expand  a:active,
#expand  a:link {
    border: 0px;
    color: #46b98c;
    font-size: 16px;
    font-family: 'pt_sansregular'; 
    background-color: none;
    border-bottom: 0px;
    
}
.accordion-navigation a, 
.accordion-navigation a:hover, 
.accordion-navigation a:visited, 
.accordion-navigation a:active,
.accordion-navigation a:link {
    border: 0px;
    font-size: 16px;
    font-family: 'pt_sansregular'; 
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom: 0px;
    color: #46b98c;

}

.topico {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.card-secao-3 {
    min-height: 15rem;
    background-color: white;
    /*margin-left: 0.5rem;*/
    /*margin-right: 0.5rem;*/
}

/* Top bar: http://zurb.com/building-blocks/f6-top-bar */
.title-bar {
  background: #0f0f0f;
  padding: 2.9rem; }

.top-bar { 
  background: #0f0f0f; }
  .top-bar ul {
    background: #0f0f0f; }
    .top-bar ul li {
      background: #0f0f0f; }
      .top-bar ul li a {
        color: #ededed; }

.menu-text {
  color: #ededed; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; 
      } 
}

.title-header {
    text-decoration: underline;  
    font-size: 50px;
    color: #ededed;
    font-family: 'novecento_sans_widedemibold';
    letter-spacing: 5px;
    
}
.subtitle-header {
    font-family: 'pt_sansitalic';
    font-size: 14px;
    margin-top: -10px;
    opacity: 0.7;
    width: 85%;
}

.header-text {
    text-align: left;
    width: 75%;
    color: #ededed; }
    .header-text a {
        font-family: 'pt_sansregular';
        color: #ededed; }

.img-circle {
    top: -10px; 
    width: 230px; 
    height: 210px; 
    float: left; 
    margin-right: 4px;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.img-circle-title{
    float: none;
    position: relative;
    width: 130px; 
    height: 115px;
    left: 42%;
    right: auto;
    
    
}

.orbit-caption {
    background: none;
    top: 45%;
    left: 14%;
}

.img-foto-perfil {
    height: 190px
    
}

.img-capa-perfil {
    height: 190px
    
}

.menu-logo {
  width: 350px;
    float: left;
    position: relative;
    margin-top: -18px;
    margin-bottom: -10px;
}
  @media only screen and (max-width: 40em) {
    .menu-logo {
      display: none !important; 
      } 
}


@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 0px solid #4e4e4e; 
    font-family: 'novecento_sans_widedemibold'; 
    font-size: 12px;
    letter-spacing: 2px;
    color: #ededed;
    margin-top: 5px;}
   
    
    .menu li a:hover span { 
        text-decoration: none;
        border-bottom: 3px solid #46b98c;  
    }


  .menu:first-child {
    border-left: none; 
    color: #ededed;
    font-family: 'novecento_sans_widedemibold';
    letter-spacing: 2px;}

  .menu li:not(:last-child) {
    border-right: 0px solid #4e4e4e; } }
.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }