/* Configuração de cores por sessão */

/* Fundo padrão (laterais) */
body, html {
    background-color: #191919 !important;
}

/* Introdução Carta Coalizão */
.bg-section-1 {
    background-color: #000000; } /* Cor de fundo */
    .bg-section-1 h1 { color: #46b98c; } /* Cor do título */
    .bg-section-1 p { color: #ededed; } /* Cor do texto */

/* Texto Carta Coalizão */
.bg-section-1_2 {
    background-color: #fd9902;  } /* Cor de fundo */
    .bg-section-1_2 h1 { color: #191919; } /* Cor do título */
    .bg-section-1_2 p { color: #000000; } /* Cor do texto */

/* Internet sob ataque*/
.bg-section-2 {
    background-color: #191919; } /* Cor de fundo */
    .bg-section-2 h1 { color: #412579; } /* Cor do título */
    .bg-section-2 h4 { color: #412579; } /* Cor do sub-título */
    .bg-section-2 p { color: #ededed; } /* Cor do texto */

/* Veja mais sobre os PLs */
.bg-section-3 {
    background-color: #e9b000; } /* Cor de fundo */
    .bg-section-3 h1, .bg-section-3 .fa { color: #191919; } /* Cor do título */
    .bg-section-3 h4 { color: #ededed; }  /* Cor sub-titulo */
    .bg-section-3 p { color: #000000; } /* Cor do texto */

/* Quem Somos */
.bg-section-4 {
    background-color: #e94d3e; } /* Cor de fundo */
    .bg-section-4 h1, .bg-section-4 .fa { color: #fb8816; } /* Cor do título */
    .bg-section-4 h4 { color: #ededed; }
    .bg-section-4 p { color: #000000; } /* Cor do texto */

/* Contatos*/
.bg-section-5 {
    background-color: #01abaa; } /* Cor de fundo */
    .bg-section-5 h1, .bg-section-5 .fa { color: #F7F7EB; } /* Cor do título */
    .bg-section-5 h4 { color: #ededed; }
    .bg-section-5 p { color: #000000; } /* Cor do texto */

/* Siga a gente */
.bg-section-6 {
    background-color: #0f0f0f; } /* Cor de fundo */
    .bg-section-6 h1, .bg-section-6 .fa { color: #F7F7EB; } /* Cor do título */
    .bg-section-6 p { color: #999790; } /* Cor do texto */
    .bg-section-6 a { color: #ce8021; } /* Cor dos links */
    

/*
.bg-cinza {
    background-color: #f4f4f4; }
    .bg-cinza h1 { color: #46b98c; }
*/
